@import '../../../components/themes/style.css';

.title {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-24);
}

.assign-submit{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 10px;
}
.assign-edit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 6px;
}
.assign-cancel{
  margin-left: 4px;
}