.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    height: 100vh;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #f8f9fd; */
}

/* .css-nzinn5-MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
} */

/* @media (min-width: 0px) { */
    .css-nzinn5-MuiContainer-root {
        max-width:0px !important;
    }
/* } */



input[type="submit"],
button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #1e40af !important;
    border: 1px solid #1e40af !important;
    color: #ffffff !important;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background: #1e3a8a !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 255px;
    width: 350px;
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}